﻿@model OnlineChecklist.Models.ChecklistOverviewModel
@{
    ViewBag.Title = "Checklists Home";
}

<h2>Checklists</h2>
<hr />

<div class="col-md-6">
    @if(@Model.Error != String.Empty)
    {
        <div class="alert alert-warning" role="alert">
            <strong>Warning!</strong><br />@Model.Error
        </div>
    }
    <div class="alert alert-danger" role="alert">
        <strong>User reported problem! (To Be Implemented, this is an example)</strong><br />Someone has reported an incorrect serial number. Click <a href="#">here</a> to check out more information on the problem.
    </div>

    @if (Model.SuboordinateList != null && Model.SuboordinateList.Count > 0)
    {
    <b>Tasks I've assigned to others</b> @Model.SuboordinateList.Count().ToString(); @:total
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Due Date</th>
                <th>Checklist</th>
                <th>Progress</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SuboordinateList.OrderByDescending(x => x.DueDate))
            {
                <tr>
                    <td>@Html.ActionLink(@item.ChecklistId.ToString(), "Status", new { checklistId = @item.ChecklistId })</td>
                    <td>@Html.ActionLink(@item.AssignedTo.Username, "ActiveAssignmentList", "User", new { userId = @item.AssignedTo.UserId }, null)</td>
                    <td>@item.DueDate.ToShortDateString()</td>
                    <td>@Html.ActionLink(@item.ChecklistName, "Status", new { checklistId = @item.ChecklistId })</td>
                    <td>
                        @item.CompletionPercentage%<div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.CompletionPercentage" aria-valuemin="0" aria-valuemax="100" style="width: @item.CompletionPercentage%"><span class="sr-only">@item.CompletionPercentage% Complete (success)</span></div></div>
                    </td>
                    <td>
                        @item.Notes
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    }
    @if (Model.MyList != null && Model.MyList.Count > 0)
    {
    <b>Tasks I need to complete</b> @Model.MyList.Count().ToString(); @:total
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Due Date</th>
                <th>Checklist</th>
                <th>Progress</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MyList.OrderByDescending(x => x.DueDate))
            {
                <tr>
                    <td>@Html.ActionLink(@item.ChecklistId.ToString(), "Status", new { checklistId = @item.ChecklistId })</td>
                    <td>@item.DueDate.ToShortDateString()</td>
                    <td>@Html.ActionLink(@item.ChecklistName, "AssignmentList", "User", new { userId = @item.ChecklistId }, null)</td>
                    <td>
                        @item.CompletionPercentage%<div class="progress"><div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.CompletionPercentage" aria-valuemin="0" aria-valuemax="100" style="width: @item.CompletionPercentage%"><span class="sr-only">@item.CompletionPercentage% Complete (success)</span></div></div>
                    </td>
                    <td>
                        @item.Notes
                    </td>
                </tr>
            }
        </tbody>
    </table>
    }
</div>