﻿@model OnlineChecklist.Models.ChecklistStatusModel
@{
    ViewBag.Title = "Status";
}

<h2>Status on @Model.ChecklistName</h2>

Due Date: @Model.DateDue<br />
Assigned To: @Model.AssignedUser.Username<br />

@if (Model.CompletedOn != null)
{
    <div class="alert alert-info" role="alert">Completed on: @Model.CompletedOn.Value.ToString()</div>
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task Name</th>
            <th>Task Subname</th>
            <th>Completed On</th>
            <th>Assigned To</th>
            <th>Url</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ItemList)
    {
        if(item.CompletedOn != null)
        { 
            @:<tr class="success">
        } else
        {
            @:<tr>
        }
        @:<td>@item.ItemId.ToString()</td>
        @:<td>@item.TaskName</td>

        if(item.TaskSubname != String.Empty)
        {
            @:<td>@item.TaskSubname</td>
        } else
        {
            @:<td>&nbsp;</td>
        }


        if (item.CompletedOn != null)
        {
            @:
            <td>@item.CompletedOn.Value.ToString()</td>
        }
        else
        {
        @:
        <td>&nbsp;</td>
        }

        if (item.AssignedTo.UserId == Model.AssignedUser.UserId)
        {
            @:<td>&nbsp;</td>
        } else
        {
            @:<td><a href="mailto:@item.AssignedTo.EmailAddress">@item.AssignedTo.Username</a></td>
        }

        if(item.Url != String.Empty)
        {
            @:<td><a href="@item.Url">Click Here</a></td>
        } else
        {
            @:<td>&nbsp;</td>
        }

        if(item.Notes != String.Empty)
        {
            @:<td>@item.Notes</td>
        } else
        {
            @:<td>&nbsp;</td>
        }
        @:</tr>
    }
    </tbody>
</table>