﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Checklist</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/dashboard.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <h2>Online Checklist</h2>
        <div id="navbar">
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <b>Dashboard</b>
                <ul class="nav nav-sidebar">
                    <li class="@Html.IsActive("Checklist", "Index")">@Html.ActionLink("Overview", "Index", "Checklist")</li>
                    <li><a href="#">Completed Checklists</a></li>
                    <li><a href="#">Checklists others need me help on</a></li>
                    <li><a href="#">View checklists I've assigned to others</a></li>
                </ul>
                <hr />
                <b>Actions</b>
                <ul class="nav nav-sidebar">
                    <li><a href="">Begin new checklist</a></li>
                    <li><a href="">Reports</a></li>
                    <li><form><input type="text" class="form-control" placeholder="Search by ID"></form></li>
                </ul>
                <hr />
                <b>Administration</b>
                <ul class="nav nav-sidebar">
                    <li><a href="">Create new checklist</a></li>
                    <li><a href="">Modify checklist</a></li>
                    <li><a href="">Delete checklist</a></li>
                </ul>
                <hr />
                <b>DEVELOPER ONLY</b>
                <ul class="nav nav-sidebar">
                    <li class="@Html.IsActive("Home", "Plan")">@Html.ActionLink("Plan", "Plan", "Home", null, new { @class = "nav-item nav-link" })</li>
                    <li><a href="">Modify checklist</a></li>
                    <li><a href="">Delete checklist</a></li>
                </ul>
                
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="container body-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
