﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<ul>
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Goto", "Goto", "Home")</li>
    <li>@Html.ActionLink("Plan", "Plan", "Home")</li>
    <li>@Html.ActionLink("Checklist/Index", "Index", "Checklist") -- Shows a list of assigned checklists for current logged in user. Also has ability to create and possibly assign checklists. Eventually this will be the real /index</li>
</ul>
