﻿
@{
    ViewBag.Title = "Plan";
}

<h2>Plan</h2>

<ul>
    <li>Create newly assigned Checklist and redirect to that item</li>
    <li>Assign various info for that Checklist</li>
    <li>Assign so loading user views Assigned Checklists and what checklists they can create on their own</li>
    <li>Maintain New Checklists</li>
    <ul>
        <li>Make a new checklist</li>
        <li>Note worthy items:</li>
        <ul>
            <li>ReqSupvAssignment</li>
        </ul>
        <li>Make new items</li>
        <li>Property types: Group, Subgroup, Action, HasUserLookup, HasSupervisorLookup, HasCustomText, HasURL, ExpectedCompletionDate</li>
    </ul>
    <li>Alerts</li>
    <ul>
        <li>Alert when ExpectedCompletion passed.</li>
        <li>Alert when action is completed.</li>
        <li>Alert when checklist is completed.</li>
    </ul>
    <li>Security Roles</li>
    <ul>
        <li>Administrator</li>
        <li>Supervisor -- Has access to all checklists and can assign checklists</li>
        <li>User</li>
    </ul>
</ul>